abstract.php
users/*
images/*
var/cache
var/files
var/snapshots
var/custom_files/
var/upgrade/

/get_addons/*
var/langs/*
!var/langs/
!var/langs/sr/

upgrades/*
!upgrades/source_restore.php

local_conf.php
install/

/*.txt
!DB_readme.txt
/error_log
error_log*

*.sw*
*~
._*

*.sublime*
.buildpath
.idea
.vscode
.project
.projectile
.htaccess

.DS_Store
.AppleDouble
.LSOverride
__MACOSX

_TEMP
TODO

*.log
*.sql
*.bak
*.swp
*.orig
*.tmp

*.sqlite
.DS_Store?

*.sql
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.psd
#root folder files
/*.php
#exceptions
!guess_what.php
!config.php
!api.php
!index.php
!init.php
!vendor.php
!esi.php

sitemap.xml
docker-compose.yml
docker-compose/*
Dockerfile
